
.loading-container {
  width: 30%;
  margin: 1em auto;
  text-align: center;
}

.loading-text {
  font-size: 1.2em;
}

.device-container-component {
  display: flex;
  flex-direction: column;
}

.device-card-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), -2px 2px 1px rgba(0, 0, 0, 0.2);
}

.device-card {
  display: flex;
}

.device-card-text-section {
  padding-left: 25px;
  width: 50%;
}

.device-card-input-section {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 50%;
}

.duration-input {
  width: 64px;
  margin: 5px auto;
}

.duration-label {
  margin: 5px auto;
}

.activate-buttons {
  background-color: #3CA710;
}

.display-zones-button {
  background-color: #00a7e1;
}