
.loading-container {
  width: 30%;
  margin: 1em auto;
  text-align: center;
}

.device-container {
  display: flex;
  flex-direction: column;
}

.device-card {
  width: 70%;
  margin: 1em auto;
  background-color: aliceblue;
  padding: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), -2px 2px 1px rgba(0, 0, 0, 0.2);
}

.device-card-text {
  color: #333;
}

.device-card-input-section {
  position: relative;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 50%;
  bottom: 130px;
}

.duration-input {
  width: 100px;
  margin: 5px auto;
}

.duration-label {
  margin: 5px auto;
}

.activate-buttons {
  border-radius: 2px;
  margin: 10px auto;
  width: 150px;
  height: 1.5em;
  font-size: 0.8em;
}